@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
    font-size: 16px;
}

body{
  height: 100%;

}



.main-page{
    position: absolute; /* Set position to absolute */

    top: 0; /* Set top and left to 0 */
    left: 0;
    height: calc(100vh - 5rem);
    height: 100vh;

    background: linear-gradient(to right,rgb(30, 0, 197), rgb(11, 0, 62) ), radial-gradient(circle at bottom right, rgb(0, 0, 0), transparent);
    background-blend-mode: screen;
    display: none;
}


@media (max-width:900px) {

  .main-page{
    /* height: calc(100vh - 5rem); */
    /* height: 100vh; */
  }
}


.main-page.inactive{
    height: 0;
    opacity: 0;
    z-index: 90;
    display: none;
}


.main-page.active{
    opacity: 1;
    width: calc(100vw - 70px);
    display:block;
    overflow: scroll;
    overflow-x: hidden;
    position:sticky;

}

body::-webkit-scrollbar{
    position: absolute;
   display: none;
    
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}





